.person-card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.person-img {
    height: 320px;
    object-fit: cover;
}


.card-body {
    background-color: #f8f9fa;
    color: #333;
}


.small-text {
    font-size: 0.9rem;
    color: #555;
}

.row {
    justify-content: center;
}