/* Stile per le card delle attrici */
.actress-card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


/* Immagini adattate e con angoli arrotondati */
.actress-img {
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Testo della card */
.card-body {
    background-color: #e8a9e7;
}

.card-text {
    color: rgb(37, 34, 34);
}

.card-title {
    color: rgb(35, 32, 34);
}