.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}


.actress-card {
    background-color: #e64c7d;
}


.actor-card {
    background-color: #0074d9;
}


.actress-img,
.actor-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.card-body-actress,
.card-body-actor {
    padding: 1rem;
}